@import "../../commons/styles/variables";

.gift-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    transition: opacity .2s ease-in-out;

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__container {
        position: relative;
        width: 600px;
        height: 800px;
        border-radius: 8px;
        background-color: $color-blue-5;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        user-select: none;
        outline: none;
        border: none;
        background: none;
        opacity: .5;
        transition: opacity .2s ease-in-out;

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 1;
        }

        svg {
            fill: $color-black;
        }
    }

    &__body {
        padding-top: 127px;

        .gift {
            margin: 0 auto;
        }
    }
}

.gift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: $color-white;
    border-radius: 50%;

    &__body {
        width: 250px;
        text-align: center;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
    }

    &__image {
        img {
            position: relative;
            top: 8px;
            margin-top: -42px;
            animation: gift 1s;
        }
    }

    &__message {
        margin-top: 8px;
        color: $color-blue-grey-1;
    }

    &__action {
        margin-top: 26px;
    }
}

@keyframes gift {
    0% {
        opacity: 0;
        transform: scale(.3) translateY(20px);
    }

    40% {
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
