@import "variables";

// Fix issue causing buttons in Firefox to be 2px bigger than they should
button.button::-moz-focus-inner {
    border: 0;
}

.button {
    display: inline-block;
    position: relative;
    cursor: pointer;

    align-items: center;
    min-width: $button-width-min;
    min-height: $button-line-height;
    line-height: $button-line-height;
    vertical-align: middle;
    text-align: center;

    user-select: none;
    outline: none;
    border: 1px solid $color-blue-1;
    border-radius: $button-border-radius;

    margin: $button-margin;
    padding: $button-padding;
    color: $color-white;
    background-color: $color-primary;
    background-image: linear-gradient( 0deg, $color-blue-2 0%, $color-blue-4 100%);
    white-space: nowrap;

    font-size: $button-font-size;
    font-style: inherit;
    font-variant: inherit;
    font-weight: $button-font-weight;
    font-family: $base-font-family;
    text-transform: inherit;
    text-decoration: none;

    overflow: hidden;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);

    transition: color .2s ease-in-out,
                border-color .2s ease-in-out,
                background-image .2s ease-in-out;

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:not([disabled]) {
        &:hover {
            color: $color-white;
            border-color: $color-blue-3;
            background-image: linear-gradient( 0deg, rgba($color-white, .54) 0%, rgba($color-white, 0) 100%),
                              linear-gradient( 0deg, $color-blue-2 0%, $color-blue-4 100%);
        }
    }

    &[disabled] {
        opacity: .4;
    }
}
