@import "variables";

* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

[tabindex="-1"]:focus {
    outline: none;
}

// [2] Ensure the page always fills at least the entire height of the viewport.
// [3] Prevent iOS text size adjust after orientation change, without disabling user zoom
// [4] Fonts on OSX will look more consistent with other systems that do not
// render text using sub-pixel anti-aliasing.
html,
body {
    position: relative;
    margin: 0;
    padding: 0;

    min-width: $content-width;
    height: 100%;
    min-height: 100%; // [2]

    background: url("../../assets/bg.jpg") no-repeat 50% 50%;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;

    -webkit-text-size-adjust: 100%; // [3]
    -ms-text-size-adjust: 100%; // [3]

    -webkit-font-smoothing: antialiased; // [4]
    -moz-osx-font-smoothing: grayscale; // [4]
}

body {
    overflow-y: scroll;
}

html,
button,
select,
textarea,
input {
    font-family: $base-font-family;
}

select,
button,
textarea,
input {
    font-size: 100%;
    vertical-align: baseline;
}

// Fix Android 4.0 button bugs
html input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    cursor: pointer;
    -webkit-appearance: button;

    &[disabled] {
        cursor: default;
    }
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;

    &:-webkit-autofill {
        text-shadow: none;
    }
}

textarea {
    resize: vertical;
}

fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    outline: 0;
}
