@import "variables";

body {
    font-size: $base-font-size;
    line-height: $base-font-line-height;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

p {
    margin: 0 0 $margin 0;
}
