// Layout
$content-width: 1020px;
$margin: 10px;
$padding: $margin;

// Colors
$color-black: #333333;
$color-white: #fff;

$color-blue-1: #1F6990;
$color-blue-2: #0085C0;
$color-blue-3: #2d98d1;
$color-blue-4: #4BA2D5;
$color-blue-5: #daf3ff;

$color-blue-grey-1: #73818a;

$color-primary: $color-blue-2;

// Typography
$base-font-size: 14px;
$base-font-line-height: 18px;
$base-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$base-font-weight: 400;

// Buttons
$button-margin: 0;
$button-padding-left-right: 15px;
$button-padding: 0 $button-padding-left-right;
$button-width-min: 160px;
$button-font-size: 14px;
$button-font-weight: 600;
$button-line-height: 40px;
$button-border-radius: 4px;
